doctype html
html
  head
    title Raamatukogu lissa uus ramaat
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Raamatukogu lissa uue ramaat
          block content
          div.table-wrapper
            form(role='form' method='GET' action='')
              table.fl-table
              tr
                    th
                        label(for='title') Title:
                    td
                        input#title(type='text', name='title')
              tr
                    th
                        label(for='author') Author:
                    td
                        input#author(type='text', name='author')
              tr
                    th
                        label(for='price') Price:
                    td
                        input#price(type='number',step=0.010 name='price')
              tr
                    th
                        button(type="submit", name="asdf") lisa uus
                    td
                        a.btn(href='/') Tagasi
                        

                

