doctype html
html
  head
    title Raamatukogu avaleht
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Raamatukogu
      block content
      div.table-wrapper
      a.btn(href='/add_new') Lisa uus
      table.fl-table
        th Title
        th Author
        th Price
        each ram in ramList
            tr
                td= ram.title
                td= ram.author
                td= ram.price +' €'
                td 
                    //a.btn(href=`/books/${ram.id}`)